body {
    padding: 0px 10px;
}

h1 {
    padding: 25px 5px;
    background-image: url('../img/stock-market-img.jpg');
    color: #d3d3d3;
}

nav a {
    padding-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    margin-bottom: 20px;
    margin-left: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#stock-search {
    width: 400px;
    padding-top: 20px;
    margin: auto;
    flex: 0 1 100%;
}

button {
    background-color: lightblue;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 3px black;
    margin-left: 3px;
    width: 60px;
    height: 22px;
}

button:hover {
    background-color: blue;
}

button:active {
    transform: scale(0.95);
    background: radial-gradient(blue, lightblue);
}

#stock-data {
    width: 500px;
    margin: auto;
    flex: 0 1 100%;
}

#loading-data {
    text-align: center;
}

label {
    font-size: 16pt;
    font-weight: bold;
    text-shadow: 0 0 3px red, 0 0 3px indigo, 2px 2px 2px grey;
    margin-right: 5px;
}

#ticker {
    height: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px black;
    border: 1px solid;
    border-radius: 4px;
}

#error-value-ticker {
    position: relative;
    left: 150px;
    top: -10px;
    font-size: 10pt;
}

.error-msg {
    color: red;
    font-style: italic;
}

.hidden {
    display: none;
}

caption {
    padding-bottom: 5px;
}

#stock-table {
    border-collapse: collapse;
    box-shadow: 3px 3px 3px black;
}

th, td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}

#rocket {
    font-size: 35pt;
    position: fixed;
    left: -75px;
    top: 600px;
    animation: toTheMoon 2s ease-in 2s 2 normal;
    text-shadow: 0 0 20px red, 0 0 20px orange;
}

@keyframes toTheMoon {
    from { left: 0%; top: 100%; }
    to   { left: 100%; top: 0%; }
}
   
